<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="elements/header">
    <meta charset="UTF-8">
    <title>Add new apartment</title>
</head>
<body>
<section>
    <h1>Add new apartment</h1>
</section>
<div sec:authorize="hasRole('ADMIN')">
    <form th:action="@{/apartments/add}" th:method="post" th:object="${createApartmentCommand}">
        <div>

            <label>Building id:
                <select th:field="*{buildingId}" name="developer">
                    <option th:value="null" selected>Make your choice</option>
                    <option th:each="buildingOpt : ${availableBuildings}"
                            th:value="${buildingOpt.id}" th:text="${buildingOpt.id}">
                    </option>
                </select>
                <div>
                    <span th:each="err : ${#fields.errors('buildingId')}" th:text="${err}"></span>
                </div>
            </label>

            <label>Floor:
                <input type="number" th:field="*{floor}"/>
                <div>
                    <span th:each="err : ${#fields.errors('floor')}" th:text="${err}"></span>
                </div>
            </label>

            <label>Area (square meters):
                <input type="number" th:field="*{area}"/>
                <div>
                    <span th:each="err : ${#fields.errors('area')}" th:text="${err}"></span>
                </div>
            </label>
            <label>Number of rooms:
                <input type="number" th:field="*{roomsNumber}"/>
                <div>
                    <span th:each="err : ${#fields.errors('roomsNumber')}" th:text="${err}"></span>
                </div>
            </label>

            <label>Type of kitchen:
                <select th:field="*{typeOfKitchen}">
                    <option th:value="null" selected>Make your choice</option>
                    <option th:each="kitchenOpt : ${T(projects.realestatemanager.enums.KitchenType).values()}"
                            th:value="${kitchenOpt.displayValue}" th:text="${kitchenOpt.displayValue}">
                    </option>
                </select>
                <div>
                    <span th:each="err : ${#fields.errors('typeOfKitchen')}" th:text="${err}"></span>
                </div>
            </label>

            <label>Price (USD):
                <input type="number" th:field="*{price}"/>
                <div>
                    <span th:each="err : ${#fields.errors('price')}" th:text="${err}"></span>
                </div>
            </label>
<!--            <label>Price per square meter:-->
<!--                <input type="text" th:field="*{pricePerSquareMeter}"/>-->
<!--                <div>-->
<!--                    <span th:each="err : ${#fields.errors('pricePerSquareMeter')}" th:text="${err}"></span>-->
<!--                </div>-->
<!--            </label>-->
            <label> Type of market:
                <select th:field="*{marketType}">
                    <option th:value="null" selected>Make your choice</option>
                    <option th:each="marketOpt : ${T(projects.realestatemanager.enums.ApartmentTypeOfMarket).values()}"
                            th:value="${marketOpt.displayValue}" th:text="${marketOpt.displayValue}">
                    </option>
                </select>
                <div>
                    <span th:each="err : ${#fields.errors('marketType')}" th:text="${err}"></span>
                </div>
            </label>
            <label>Apartment status:
                <select th:field="*{status}">
                    <option th:value="null" selected>Make your choice</option>
                    <option th:each="statusOpt : ${T(projects.realestatemanager.enums.ApartmentStatus).values()}"
                            th:value="${statusOpt.displayValue}" th:text="${statusOpt.displayValue}">
                    </option>
                </select>
                <div>
                    <span th:each="err : ${#fields.errors('status')}" th:text="${err}"></span>
                </div>
            </label>
            <div>
                <span th:each="err : ${#fields.errors('status')}" th:text="${err}"></span>
            </div>

            <label>Exclusivity:
                <input type="checkbox" th:field="${createApartmentCommand.exclusivity}"/>
                <div>
                    <span th:each="err : ${#fields.errors('exclusivity')}" th:text="${err}"></span>
                </div>
            </label>

            <label>Windows direction:
                <select th:field="*{windowsDirection}">
                    <option th:value="null" selected>Make your choice</option>
                    <option th:each="windowsOpt : ${T(projects.realestatemanager.enums.WindRose).values()}"
                            th:value="${windowsOpt.displayValue}" th:text="${windowsOpt.displayValue}">
                    </option>
                </select>
                <div>
                    <span th:each="err : ${#fields.errors('windowsDirection')}" th:text="${err}"></span>
                </div>
            </label>

            <label>View:
                <input type="text" th:field="*{view}"/>
                <div>
                    <span th:each="err : ${#fields.errors('view')}" th:text="${err}"></span>
                </div>
            </label>

            <label>Storage room:
                <input type="checkbox" th:field="${createApartmentCommand.storageRoom}"/>
                <div>
                    <span th:each="err : ${#fields.errors('storageRoom')}" th:text="${err}"></span>
                </div>
            </label>

            <label>Apartment on building corner:
                <input type="checkbox" th:field="${createApartmentCommand.onCorner}"/>
                <div>
                    <span th:each="err : ${#fields.errors('onCorner')}" th:text="${err}"></span>
                </div>
            </label>

            <label>Comment:
                <textarea th:field="*{comment}" name="comment"></textarea>
                <div>
                    <span th:each="err : ${#fields.errors('comment')}" th:text="${err}"></span>
                </div>
            </label>
            <label> Photos URL:
                <input type="text" th:field="*{photosUrl}"/>
                <div>
                    <span th:each="err : ${#fields.errors('photosUrl')}" th:text="${err}"></span>
                </div>
            </label>
            <div>
                <button type="submit">Save</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>