<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Building details</title>
</head>
<body>
    <div>
        <h1>Apartment details</h1>
    </div>

    <div>
        <h4>Key data:</h4>
        <table>
            <tr>
                <th>Id:</th>
                <td th:text="${apartment.id}"></td>
            </tr>

            <tr>
                <th>Building:</th>
                <td><a th:text="${apartment.building.getId()}" th:href="|/buildings/list/details/${apartment.building.getId()}|"></a></td>
            </tr>

            <tr>
                <th>Developer:</th>
                <td th:text="${apartment.building.developerName}"> </td>
            </tr>

            <tr>
                <th>Price:</th>
                <td th:text="${apartment.price}"></td>
            </tr>

            <tr>
                <th>Price per m2:</th>
                <td th:text="${apartment.pricePerSquareMeter}"></td>
            </tr>

            <tr>
                <th>Market type:</th>
                <td th:text="${apartment.marketType}"></td>
            </tr>

            <tr>
                <th>Status:</th>
                <td th:text="${apartment.status}"></td>
            </tr>

            <tr>
                <th>Exclusivity:</th>
                <td th:text="${apartment.exclusivity}"></td>
            </tr>
        </table>

        <h4>Details:</h4>
        <table>
            <tr>
                <th>Floor:</th>
                <td th:text="${apartment.floor}"></td>
            </tr>

            <tr>
                <th>Area:</th>
                <td th:text="${apartment.area}"></td>
            </tr>

            <tr>
                <th>Rooms number:</th>
                <td th:text="${apartment.roomsNumber}"></td>
            </tr>

            <tr>
                <th>Kitchen type:</th>
                <td th:text="${apartment.typeOfKitchen}"></td>
            </tr>

            <tr>
                <th>Windows direction:</th>
                <td th:text="${apartment.windowsDirection}"></td>
            </tr>

            <tr>
                <th>View:</th>
                <td th:text="${apartment.view}"></td>
            </tr>

            <tr>
                <th>Storage room:</th>
                <td th:text="${apartment.storageRoom}"></td>
            </tr>

            <tr>
                <th>Apartment situated on corner:</th>
                <td th:text="${apartment.onCorner}"></td>
            </tr>

            <tr>
                <th>Additional comment:</th>
                <td th:text="${apartment.comment}"></td>
            </tr>

            <tr>
                <th>Photos URL:</th>
                <td th:text="${apartment.photosUrl}"></td>
            </tr>

            <tr>
                <th>Added to database:</th>
                <td th:text="${apartment.creationDate}"></td>
            </tr>

        </table>
    </div>


</body>
</html>