<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add developer</title>
</head>
<body>
<h1>Add developer</h1>
<div>
    <form
            th:action="@{/developers/add}"
            th:method="post"
            th:object="${createDeveloperCommand}">
        <fieldset>
            <div>
                <label>Developer name:
                    <input type="text"
                           th:field="*{developerName}"
                           required/>
                </label>
                <div
                        th:if="${#fields.hasErrors('developerName')}"
                        th:text="${#fields.errors('developerName')}">
                </div>
                <div>
                    <label>Contact person:
                        <input type="text"
                               th:field="*{developerContactPerson}"
                               required>
                        <div
                                th:if="${#fields.hasErrors('developerContactPerson')}"
                                th:text="${#fields.errors('developerContactPerson')}">
                        </div>
                    </label>
                </div>
                <div>
                    <label>MObile number:
                        <input type="text"
                               th:field="*{developerContactNumber}"
                               required></label>
                    <div
                            th:if="${#fields.hasErrors('developerContactNumber')}"
                            th:text="${#fields.errors('developerContactNumber')}">
                    </div>
                </div>
                <button type="submit">Add...</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>