<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="elements/header">

<meta charset="UTF-8">
    <title>Add developer</title>
</head>
<nav th:include="elements/navigation.html"></nav>
    <style>
    .content-fieldset{
        font-family: "Californian FB", sans-serif;
        width: 300px;
        border: darkred;
        padding: 8px;
        border-radius: 45px;
    }
    </style>
<body style="background-image: url('https://previews.123rf.com/images/bialasiewicz/bialasiewicz1607/bialasiewicz160700278/59289839-shot-of-a-cozy-living-room-with-a-big-armchair-and-a-sofa.jpg')">

<h1>Add developer</h1>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <form
            th:action="@{/developers/add}"
            th:method="post"
            th:object="${createDeveloperCommand}">
        <fieldset class="content-fieldset">
            <div>
                <label>Developer name:
                    <input type="text"
                           th:field="*{developerName}"
                           required/>
                </label>
                <div
                        th:if="${#fields.hasErrors('developerName')}"
                        th:text="${#fields.errors('developerName')}">
                </div>
                <div>
                    <label>Contact person:
                        <input type="text"
                               th:field="*{developerContactPerson}"
                               required>
                        <div
                                th:if="${#fields.hasErrors('developerContactPerson')}"
                                th:text="${#fields.errors('developerContactPerson')}">
                        </div>
                    </label>
                </div>
                <div>
                    <label>Phone number:
                        <input type="text"
                               th:field="*{developerContactNumber}"
                               required></label>
                    <div
                            th:if="${#fields.hasErrors('developerContactNumber')}"
                            th:text="${#fields.errors('developerContactNumber')}">
                    </div>
                </div>
                <button type="submit">Add...</button>
            </div>
        </fieldset>
    </form>
</div>
<footer th:include="elements/footer.html"></footer>
</body>
</html>