<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Developer details</title>
</head>
<body>
    <section>
        <h1>Developer details</h1>
    </section>

    <div>
        <table>
            <tr>
                <th>Id:</th>
                <td th:text="${developer.id}"></td>
            </tr>

            <tr>
                <th>Active:</th>
                <td th:text="${developer.isActive}"></td>
            </tr>

            <tr>
                <th>Name:</th>
                <td th:text="${developer.developerName}"></td>
            </tr>

            <tr>
                <th>Contact person:</th>
                <td th:text="${developer.developerContactPerson}"></td>
            </tr>

            <tr>
                <th>Contact person:</th>
                <td th:text="${developer.developerContactPerson}"></td>
            </tr>

            <tr>
                <th>Contact person:</th>
                <td th:text="${developer.developerContactNumber}"></td>
            </tr>


        </table>

    </div>


</body>
</html>