<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="elements/header">
    <meta charset="UTF-8">
    <title>Edit developer</title>
</head>
<style>
    .content-fieldset{
        width: 300px;
        background-color: rgba(211, 211, 211, 0.5);
        font-family: "Californian FB", sans-serif;
    }
</style>
<body style="background-image: url('https://previews.123rf.com/images/bialasiewicz/bialasiewicz1607/bialasiewicz160700278/59289839-shot-of-a-cozy-living-room-with-a-big-armchair-and-a-sofa.jpg')">

<div sec:authorize="hasRole('ROLE_ADMIN')">
<h1>Edit developer</h1>
<h2 th:text="${developerEdit.name}"></h2>

<div>
    <form
            th:action="${developerEdit.id}"
            th:method="post"
            th:object="${editDeveloperCommand}">
        <fieldset class="content-fieldset">
            <div>
                <label>Developer name:
                    <input type="text"
                           th:value="${developerEdit.name}"
                           id="developerName"
                           name="developerName"
                           required/>
                </label>
                <div
                        th:if="${#fields.hasErrors('developerName')}"
                        th:text="${#fields.errors('developerName')}">
                </div>
                <div>
                    <label>Contact person:
                        <input type="text"
                               th:value="${developerEdit.contactPerson}"
                               id="developerContactPerson"
                               name="developerContactPerson"
                               required/>
                        <div
                                th:if="${#fields.hasErrors('developerContactPerson')}"
                                th:text="${#fields.errors('developerContactPerson')}">
                        </div>
                    </label>
                </div>
                <div>
                    <label>Mobile number:
                        <input type="text"
                               th:value="${developerEdit.contactNumber}"
                               id="developerContactNumber"
                               name="developerContactNumber"
                               required/>
                        <div
                                th:if="${#fields.hasErrors('developerContactNumber')}"
                                th:text="${#fields.errors('developerContactNumber')}">
                        </div>
                    </label>
                </div>
                <div>
                    <label>Developer status:
                        <select id="isActive" name="isActive">
                            <option
                                    value="true"
                                    th:selected="${developerEdit.isActive() eq true}"
                                    th:text="Active">
                            </option>
                            <option
                                    value="false"
                                    th:selected="${developerEdit.isActive() eq false}"
                                    th:text="|Not active|">
                            </option>
                        </select>
                    </label>
                </div>
            </div>
        </fieldset>
        <fieldset class="content-fieldset">
            <button type="submit">Save changes</button>
        </fieldset>
    </form>
</div>
<fieldset class="content-fieldset">
    <form th:action="|${developerEdit.id}/delete|" th:method="post">
        <button type="submit">Delete</button>
    </form>
</fieldset>
<footer th:include="elements/footer.html"></footer>
</div>
</body>
</html>