<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Developers list</title>
</head>
<body>
<h1>Developers list</h1>
<h2 sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/developers/add}">Add new developer...</a></h2>
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Contact person</th>
            <th>Contact</th>
            <th>Status</th>
            <th>status2</th>
        </tr>
        <tr th:each="developer : ${developersList}">
            <td th:text="${developer.name}"></td>
            <td th:text="${developer.contactPerson}"></td>
            <td th:text="${developer.contactNumber}"></td>
            <td
                    th:text="${developer.isActive()} ? 'active' : 'not active'"
                    th:style="${developer.isActive()} ? 'color: red' : 'color: grey'"
            ></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="|edit/${developer.id}|">Edit</a></td>
        </tr>
    </table>
</div>
</body>
</html>