<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        .header {
            background-color: tomato;
            padding: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="header">
    <h1 style="color: white">(╯°□°)╯︵ ┻━┻</h1>
</div>
<h2>Zalogowany użytkownik:<span sec:authentication="name"></span></h2>
<hr>
<div class="nav_menu">
    <a href="/apartments/list">APARTAMENTY</a>
    <a href="/buildings/list">BUDYNKI</a>
    <a href="/users/list">KLIENCI</a>
    <a href="/developers/list">DEWELOPERZY</a>
    <a sec:authorize="hasRole('ROLE_ADMIN')" href="/users/add">DODAJ NOWEGO UŻYTKOWNIKA</a>
    <a href="/logout">WYLOGUJ!</a>
</div>
<div>
    <h2>Lista ulubionych bydunków...</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>type</th>
            <th>real_term</th>
            <th>region</th>
            <th>deleteeeee</th>
        </tr>
        <tr th:each="building : ${favouriteBuildings}">
            <td th:text="${building.id}"></td>
            <td th:text="${building.buildingConstructionType}"></td>
            <td th:text="${building.buildingRealizationTerm}"></td>
            <td th:text="${building.region}"></td>
            <td>
                <a th:href="@{del/fav/building(id=${building.id})}">DELETE</a>
            </td>
        </tr>
    </table>
</div>

<div>
    <h2>Lista ulubionych klientów...</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>registration date</th>
            <th>deleteeeee</th>
        </tr>
        <tr th:each="client : ${favouriteClients}">
            <td th:text="${client.id}"></td>
            <td th:text="${client.getClientName()}"></td>
            <td th:text="${client.getClientRegistrationDate()}"></td>
            <td>
                <a th:href="@{del/fav/client(id=${client.id})}">DELETE</a>
            </td>
        </tr>
    </table>
</div>

<hr>
</body>
</html>