<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add client</title>
</head>
<body>
<h1>Add client</h1>
<div>
    <form th:action="@{/clients/add}" th:method="post" th:object="${createClientCommand}">
        <fieldset>
            <div>
                <label>Name:
                    <input type="text" th:field="*{clientName}" name="clientName" required/>
                </label>
                <div th:if="${#fields.hasErrors('clientName')}">
                    <span th:each="err : ${#fields.errors('clentName')}" th:text="${err}"></span>
                </div>
            </div>
            <div>
                <label>Phone number:
                    <input type="number" th:field="*{clientContactNumber}" name="clientContactNumber" required/>
                </label>
                <div th:if="${#fields.hasErrors('clientContactNumber')}">
                    <span th:each="err : ${#fields.errors('clientContactNumber')}" th:text="${err}"></span>
                </div>
            </div>
            <div>
                <label>E-mail:
                    <input type="email" th:field="*{clientContactEmail}" name="clientContactEmail"/>
                </label>
                <div th:if="${#fields.hasErrors('clientContactEmail')}">
                    <span th:each="err : ${#fields.errors('clientContactEmail')}" th:text="${err}"></span>
                </div>
            </div>
            <div>
                <label>Client interest:
                    <textarea th:field="*{clientInterest}" name="clientInterest" required></textarea>
                </label>
                <div th:if="${#fields.hasErrors('clientInterest')}">
                    <span th:each="err : ${#fields.errors('clientInterest')}" th:text="${err}"></span>
                </div>
            </div>

        </fieldset>
        <fieldset>
            <button type="submit">Add client</button>
        </fieldset>
    </form>
</div>

</body>
</html>