<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client list</title>
</head>
<body>
<div>
    <h2>
        <a th:href="@{/clients/add}">Add new client</a>
    </h2>
    <h3>
        <a th:href="@{/clients/favouriteclients}">Show list of favourite clients</a>
    </h3>
    <table>
        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Number</th>
            <th>Interest</th>
            <th>Registration date</th>
            <th>Status</th>
            <th>Favourite</th>
        </tr>
        <tr th:each="client : ${clientsList}">
            <td th:text="${client.clientName}"></td>
            <td th:text="${client.clientContactEmail}"></td>
            <td th:text="${client.clientContactNumber}"></td>
            <td th:text="${client.clientInterest}"></td>
            <td th:text="${client.clientRegistrationDate}"></td>
            <td th:text="${client.isActive} ? 'active' : 'not active'"
                th:style="${client.isActive} ? 'color: red' : 'color: grey'">
            </td>
            <td th:text="${client.favourite} ? 'true' : 'false'"
                th:style="${client.favourite} ? 'color: red' : 'color: grey'">
            </td>
            <td><a th:href="|edit/${client.id}|">Edit</a></td>
        </tr>
    </table>
</div>
</body>
</html>