<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="elements/header">
    <nav th:include="elements/navigation.html"></nav>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<style>
    .content-fieldset{
        font-family: "Californian FB", sans-serif;
        width: 300px;
        border: darkred;
        padding: 8px;
        border-radius: 45px;
    }
</style>
<body style="background-image: url('https://previews.123rf.com/images/bialasiewicz/bialasiewicz1607/bialasiewicz160700278/59289839-shot-of-a-cozy-living-room-with-a-big-armchair-and-a-sofa.jpg')">
<div sec:authorize="hasRole('ROLE_ADMIN')">
<h1>Add user</h1>
<div>
    <form th:action="@{/users/add}" th:method="post" th:object="${createUserCommand}">
        <fieldset class="content-fieldset">
            <div>
                <label>Username:
                    <input type="text" th:field="*{username}" name="username" required/>
                </label>
                <div th:if="${#fields.hasErrors('username')}">
                    <span th:each="err : ${#fields.errors('username')}" th:text="${err}"></span>
                </div>
            </div>
            <div>
                <label>Password:
                    <input type="password" th:field="*{userPassword}" name="userPassword" required/>
                </label>
                <div th:if="${#fields.hasErrors('userPassword')}">
                    <span th:each="err : ${#fields.errors('userPassword')}" th:text="${err}"></span>
                </div>
            </div>
            <div>
                <label>E-mail:
                    <input type="email" th:field="*{userEmail}" name="userEmail"/>
                </label>
                <div th:if="${#fields.hasErrors('userEmail')}">
                    <span th:each="err : ${#fields.errors('userEmail')}" th:text="${err}"></span>
                </div>
            </div>
        </fieldset>
        <fieldset class="content-fieldset">
            <button type="submit">Add user</button>
        </fieldset>
    </form>
</div>
<footer th:include="elements/footer.html"></footer>
</div>
</body>
</html>