<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add new building</title>
</head>
<body>
<section>
    <h1>Add new building</h1>
</section>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <form th:action="@{add}" th:method="post" th:object="${createBuildingCommand}">
        <div>
            <label> Region:
                <select th:field="*{region}">
                <option value=" " selected>Make your choice</option>
                <option th:each="regionOpt : ${T(projects.realestatemanager.enums.Region).values()}"
                        th:value="${regionOpt.displayValue}" th:text="${regionOpt.displayValue}">
                </option>
                </select>
                <div>
                    <span th:each="err : ${#fields.errors('region')}" th:text="${err}"></span>
                </div>
            </label>

            <label> City:
                <select th:field="*{city}">
                    <option value=" " selected>Make your choice</option>
                <option th:each="cityOpt : ${T(projects.realestatemanager.enums.City).values()}"
                        th:value="${cityOpt.displayValue}" th:text="${cityOpt.displayValue}">
                </option>
                </select>
                <div>
                    <span th:each="err : ${#fields.errors('city')}" th:text="${err}"></span>
                </div>
            </label>

            <label> District:
                <input type="text" th:field="*{district}"/>
                <div>
                    <span th:each="err : ${#fields.errors('district')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Street:
                <input type="text" th:field="*{street}"/>
                <div>
                    <span th:each="err : ${#fields.errors('street')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Building number:
                <input type="number" th:field="*{buildingNumber}"/>
                <div>
                    <span th:each="err : ${#fields.errors('buildingNumber')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Additional building details:
                <input type="textarea" th:field="*{buildingDetails}"/>
                <div>
                    <span th:each="err : ${#fields.errors('buildingDetails')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Distance to kindergarten (meters):
                <input type="number" th:field="*{distanceToKindergarten}"/>
                <div>
                    <span th:each="err : ${#fields.errors('distanceToKindergarten')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Distance to school (meters):
                <input type="number" th:field="*{distanceToSchool}"/>
                <div>
                    <span th:each="err : ${#fields.errors('distanceToSchool')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Distance to shopping mall (meters):
                <input type="number" th:field="*{distanceToShoppingCenters}"/>
                <div>
                    <span th:each="err : ${#fields.errors('distanceToShoppingCenters')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Distance to park (meters):
                <input type="number" th:field="*{distanceToPark}"/>
                <div>
                    <span th:each="err : ${#fields.errors('distanceToPark')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Distance to river (meters):
                <input type="number" th:field="*{distanceToRiver}"/>
                <div>
                    <span th:each="err : ${#fields.errors('distanceToRiver')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Time to city center (minutes):
                <input type="number" th:field="*{timeToCityCenterMin}"/>
                <div>
                    <span th:each="err : ${#fields.errors('timeToCityCenterMin')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Time to bus stop (minutes by feet):
                <input type="number" th:field="*{timeToBusStopMin}"/>
                <div>
                    <span th:each="err : ${#fields.errors('timeToBusStopMin')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Additional building location details:
                <input type="textarea" th:field="*{buildingLocationDetails}"/>
                <div>
                    <span th:each="err : ${#fields.errors('buildingLocationDetails')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Park lot availability:
                <input type="checkbox"
                       th:field="${createBuildingCommand.parkLot}" />
                <div>
                    <span th:each="err : ${#fields.errors('parkLot')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Garage availability:
                <input type="checkbox" th:field="${createBuildingCommand.garageAvailable}"/>
                <div>
                    <span th:each="err : ${#fields.errors('garageAvailable')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Building construction type:
                <select th:field="*{buildingConstructionType}">
                    <option value="null" selected>Make your choice</option>
                    <option th:each="constructionOpt : ${T(projects.realestatemanager.enums.BuildingConstructionType).values()}"
                    th:value="${constructionOpt}" th:text="${constructionOpt.displayValue}">
                    </option>
                </select>

                <br>
                <div>
                    <span th:each="err : ${#fields.errors('developerId')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Developer:
                <select th:field="*{developerId}" name="developer">
                <option th:value="null" selected>Make your choice</option>
                <option th:each="developerOpt : ${availableDevelopers}"
                        th:value="${developerOpt.id}" th:text="${developerOpt.name}">
                </option>
                </select>
                <br>
                <div>
                    <span th:each="err : ${#fields.errors('developerId')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Elevator availability:
                <input type="checkbox" th:field="${createBuildingCommand.elevatorAvailable}"/>
                <div>
                    <span th:each="err : ${#fields.errors('elevatorAvailable')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Primary market
                <input type="checkbox" th:field="${createBuildingCommand.primaryMarket}"/>

                <div>
                    <span th:each="err : ${#fields.errors('primaryMarket')}" th:text="${err}"></span>
                </div>

            </label>

            <label> Number of apartments:
                <input type="number" th:field="${createBuildingCommand.numberOfApartments}">

                <div>
                    <span th:each="err : ${#fields.errors('numberOfApartments')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Building section:
                <input type="number" th:field="*{buildingSection}"/>
                <div>
                    <span th:each="err : ${#fields.errors('buildingSection')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Building realization term:
                <input type="date" th:field="*{buildingRealizationTerm}"/>
                <div>
                    <span th:each="err : ${#fields.errors('buildingRealizationTerm')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Connection to media:
                <input type="checkbox" th:field="${createBuildingCommand.connectedToMedia}" th:checked="${true}"/>
                <div>
                    <span th:each="err : ${#fields.errors('connectedToMedia')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Photos URL:
                <input type="text" th:field="*{photosUrl}"/>
                <div>
                    <span th:each="err : ${#fields.errors('photosUrl')}" th:text="${err}"></span>
                </div>
            </label>
            <div>
                <button type="submit">Save</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>