<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new building</title>
</head>
<body>
<section>
    <h1>Add new building</h1>
</section>
<section>
    <form th:action="@{buildings/add}" th:method="post" th:object="${createBuildingCommand}">
        <fieldset>
            <label> Region:
                <select th:field="*{region}">
                <option th:each="regionOpt : ${T(projects.realestatemanager.enums.Region).values()}"
                        th:value="${regionOpt}" th:text="${regionOpt.displayValue}">
                </option>
                </select>
                <br>
            </label>

            <label> City:
                <select th:field="*{city}">
                <option th:each="cityOpt : ${T(projects.realestatemanager.enums.City).values()}"
                        th:value="${cityOpt}" th:text="${cityOpt.displayValue}">
                </option>
                </select>
                <br>
            </label>

            <label> District:
                <input type="text" th:field="*{district}"/>
                <div>
                    <span th:each="err : ${#fields.errors('district')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Street:
                <input type="text" th:field="*{street}"/>
                <div>
                    <span th:each="err : ${#fields.errors('street')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Building number:
                <input type="text" th:field="*{buildingNumber}"/>
                <div>
                    <span th:each="err : ${#fields.errors('buildingNumber')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Additional building details:
                <input type="text" th:field="*{buildingDetails}"/>
                <div>
                    <span th:each="err : ${#fields.errors('buildingDetails')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Distance to kindergarten:
                <input type="text" th:field="*{distanceToKindergarten}"/>
                <div>
                    <span th:each="err : ${#fields.errors('distanceToKindergarten')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Distance to school:
                <input type="text" th:field="*{distanceToSchool}"/>
                <div>
                    <span th:each="err : ${#fields.errors('distanceToSchool')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Distance to shopping mall:
                <input type="text" th:field="*{distanceToShoppingCenters}"/>
                <div>
                    <span th:each="err : ${#fields.errors('distanceToShoppingCenters')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Distance to park:
                <input type="text" th:field="*{distanceToPark}"/>
                <div>
                    <span th:each="err : ${#fields.errors('distanceToPark')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Distance to river:
                <input type="text" th:field="*{distanceToRiver}"/>
                <div>
                    <span th:each="err : ${#fields.errors('distanceToRiver')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Time to city center:
                <input type="text" th:field="*{timeToCityCenterMin}"/>
                <div>
                    <span th:each="err : ${#fields.errors('timeToCityCenterMin')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Time to bus stop:
                <input type="text" th:field="*{timeToBusStopMin}"/>
                <div>
                    <span th:each="err : ${#fields.errors('timeToBusStopMin')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Additional building location details:
                <input type="text" th:field="*{buildingLocationDetails}"/>
                <div>
                    <span th:each="err : ${#fields.errors('buildingLocationDetails')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Parking availability:
                <input type="checkbox" th:field="*{isParkingAvailable}" th:value="${true}"/>
                <div>
                    <span th:each="err : ${#fields.errors('isParkingAvailable')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Garage availability:
                <input type="checkbox" th:field="*{isGarageAvailable}"/>
                <div>
                    <span th:each="err : ${#fields.errors('isGarageAvailable')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Building construction type:
                <select th:field="*{buildingConstructionType}">
                    <option th:each="constructionOpt : ${T(projects.realestatemanager.enums.BuildingConstructionType).values()}"
                    th:value="${constructionOpt}" th:text="${constructionOpt.displayValue}">
                    </option>
                </select><br>
            </label>

<!--            todo-->
            <label> Developer:
                <input type="text" th:field="*{developer}"/>
                <div>
                    <span th:each="err : ${#fields.errors('developer')}" th:text="${err}"></span>
                </div>
<!--                <select th:field="developer" name="developer">-->
<!--                <option th:each="developerOpt : ${(projects.realestatemanager.domain.repository.BuildingRepository.findAll())}"-->
<!--                        th:value="${developerOpt}" th:text="${developerOpt.region}">-->
<!--                </option>-->
<!--                </select><br>-->
            </label>

            <label> Elevator availability:
                <input type="checkbox" th:field="*{isElevatorAvailable}" th:checked="${true}"/>
                <div>
                    <span th:each="err : ${#fields.errors('isElevatorAvailable')}" th:text="${err}"></span>
                </div>
            </label>

            <fieldset>
                <legend>Type of market:</legend>
                <input th:field="*{isPrimaryMarket}" th:checked="true" type="radio" id="primary">
                <label for="primary">Primary</label><br/>

                <input th:field="*{isPrimaryMarket}" th:checked="false" type="radio" id="secondary">
                <label for="secondary">Secondary</label><br/>
            </fieldset>

<!--            <label> Type of market:-->
<!--                <input type="checkbox" th:text="Primary" name="isPrimaryMarket" th:checked="${true}" name="elevator-availability"/>-->
<!--                <input type="checkbox" th:text="Secondary" name="isPrimaryMarket" th:checked="${false}" name="elevator-availability"/>-->
<!--                <div>-->
<!--                    <span th:each="err : ${#fields.errors('isElevatorAvailable')}" th:text="${err}"></span>-->
<!--                </div>-->
<!--            </label>-->
            <label> Building section:
                <input type="text" th:field="*{buildingSection}"/>
                <div>
                    <span th:each="err : ${#fields.errors('buildingSection')}" th:text="${err}"></span>
                </div>
            </label>

<!--            todo put calendar?-->
            <label> Building realization term:
                <input type="text" th:field="*{buildingRealizationTerm}"/>
                <div>
                    <span th:each="err : ${#fields.errors('buildingRealizationTerm')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Connection to media:
                <input type="checkbox" th:field="*{isConnectedToMedia}" th:checked="${true}"/>
                <div>
                    <span th:each="err : ${#fields.errors('isConnectedToMedia')}" th:text="${err}"></span>
                </div>
            </label>

            <label> Photos URL:
                <input type="text" th:field="*{photosUrl}"/>
                <div>
                    <span th:each="err : ${#fields.errors('photosUrl')}" th:text="${err}"></span>
                </div>
            </label>

        </fieldset>
    </form>
</section>

</body>
</html>