<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="elements/header">
    <nav th:include="elements/navigation.html"></nav>

    <meta charset="UTF-8">
    <title>Building details</title>
</head>
<style>
    .content-table{
        font-family: "Californian FB", sans-serif;
        border-collapse: collapse;
        margin: 2px;
        width: 60%;
        border-radius: 5px 5px 0 0;
    }
    .content-table tr{
        background-color: rgba(250, 250, 210, 0.5);
        color: black;
        border: 1px solid #dddddd;
        text-align: left;
        padding: 12px;
    }


    .content-table tr:nth-child(even){
        background-color: rgba(224, 255, 255, 0.5);
    }
    .content-table tbody{
        border-bottom: 1px solid #dddddd;
    }
</style>
<body style="background-image: url('https://previews.123rf.com/images/bialasiewicz/bialasiewicz1607/bialasiewicz160700278/59289839-shot-of-a-cozy-living-room-with-a-big-armchair-and-a-sofa.jpg')">

    <div>
        <h1>Building details</h1>
    </div>

    <div>
        <table class="content-table">
            <tr>
                <th>Id:</th>
                <td th:text="${building.id}"></td>
            </tr>

            <tr>
                <th>Developer:</th>
                <td><a th:text="${building.developerName}" th:href="|/developers/list/details/${building.developer.id}|"></a></td>
            </tr>

            <tr>
                <th>Primary market:</th>
                <td>
                    <input type="checkbox" disabled="true"
                           th:checked="${building.isPrimaryMarket}">
                </td>
            </tr>

            <tr>
                <th>Number of apartments:</th>
                <td>
                    <a th:text="|${building.numberOfApartments}|"
                       th:href="|/apartments/list/b${building.id}|"></a>
                </td>
            </tr>

            <tr>
                <th>Building section:</th>
                <td th:text="${building.buildingSection}"></td>
            </tr>

            <tr>
                <th>Building realization term:</th>
                <td th:text="${building.buildingRealizationTerm}"></td>
            </tr>

            <tr>
                <th>Photos URL:</th>
                <td th:text="${building.photosUrl}"></td>
            </tr>

            <tr>
                <th>Added to database:</th>
                <td th:text="${building.creationDate}"></td>
            </tr>

        </table>

        <h2>Address details</h2>
        <table class="content-table">
            <tr>
                <th>Region:</th>
                <td th:text="${building.region}"></td>
            </tr>

            <tr>
                <th>City:</th>
                <td th:text="${building.city}"></td>
            </tr>

            <tr>
                <th>District:</th>
                <td th:text="${building.district}"></td>
            </tr>

            <tr>
                <th>Street:</th>
                <td th:text="${building.street}"></td>
            </tr>

            <tr>
                <th>Building number:</th>
                <td th:text="${building.buildingNumber}"></td>
            </tr>
        </table>

        <h3>Localization details</h3>
        <table class="content-table">
            <tr>
                <th>Distance to kindergarten (m):</th>
                <td th:text="${building.distanceToKindergarten}"></td>
            </tr>

            <tr>
                <th>Distance to school (m):</th>
                <td th:text="${building.distanceToSchool}"></td>
            </tr>

            <tr>
                <th>Distance to shopping malls (m):</th>
                <td th:text="${building.distanceToShoppingCenters}"></td>
            </tr>

            <tr>
                <th>Distance to park (m):</th>
                <td th:text="${building.distanceToPark}"></td>
            </tr>

            <tr>
                <th>Distance to river (m):</th>
                <td th:text="${building.distanceToRiver}"></td>
            </tr>

            <tr>
                <th>Time to city center (min):</th>
                <td th:text="${building.timeToCityCenterMin}"></td>
            </tr>

            <tr>
                <th>Time to bus stop (min):</th>
                <td th:text="${building.timeToBusStopMin}"></td>
            </tr>

            <tr>
                <th>Building localization details:</th>
                <td th:text="${building.buildingLocationDetails}"></td>
            </tr>
        </table>

        <h6>Building details</h6>
        <table class="content-table">
            <tr>
                <th>Park lot:</th>
                <td>
                    <input type="checkbox" disabled="true"
                           th:checked="${building.isParkingAvailable}">
                </td>
            </tr>

            <tr>
                <th>Garage:</th>
                <td>
                    <input type="checkbox" disabled="true"
                           th:checked="${building.isGarageAvailable}">
                </td>
            </tr>

            <tr>
                <th>Elevator:</th>
                <td>
                    <input type="checkbox" disabled="true"
                           th:checked="${building.isElevatorAvailable}">
                </td>
            </tr>

            <tr>
                <th>Media:</th>
                <td>
                    <input type="checkbox" disabled="true"
                           th:checked="${building.isConnectedToMedia}">
                </td>
            </tr>

            <tr>
                <th>Building construction type:</th>
                <td th:text="${building.buildingConstructionType}"></td>
            </tr>

            <tr>
                <th>Additional building details:</th>
                <td th:text="${building.buildingDetails}"></td>
            </tr>
        </table>
    </div>
    <footer th:include="elements/footer.html"></footer>
</body>
</html>