<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Building details</title>
</head>
<body>
    <div>
        <h1>Building details</h1>
    </div>

    <div>
        <table>
            <tr>
                <th>Id:</th>
                <td th:text="${building.id}"></td>
            </tr>

            <tr>
                <th>Developer:</th>
                <td><a th:text="${building.developerName}" th:href="|/developers/list/details/${building.developer.id}|"></a></td>
            </tr>

            <tr>
                <th>Primary market:</th>
                <td>
                    <input type="checkbox" disabled="true"
                           th:checked="${building.isPrimaryMarket}">
                </td>
            </tr>

            <tr>
                <th>Number of apartments:</th>
                <td>
                    <a th:text="|${building.numberOfApartments}|"
                       th:href="|/apartments/list/b${building.id}|"></a>
                </td>
            </tr>

            <tr>
                <th>Building section:</th>
                <td th:text="${building.buildingSection}"></td>
            </tr>

            <tr>
                <th>Building realization term:</th>
                <td th:text="${building.buildingRealizationTerm}"></td>
            </tr>

            <tr>
                <th>Photos URL:</th>
                <td th:text="${building.photosUrl}"></td>
            </tr>

            <tr>
                <th>Added to database:</th>
                <td th:text="${building.creationDate}"></td>
            </tr>

        </table>

        <h4>Address details</h4>
        <table>
            <tr>
                <th>Region:</th>
                <td th:text="${building.region}"></td>
            </tr>

            <tr>
                <th>City:</th>
                <td th:text="${building.city}"></td>
            </tr>

            <tr>
                <th>District:</th>
                <td th:text="${building.district}"></td>
            </tr>

            <tr>
                <th>Street:</th>
                <td th:text="${building.street}"></td>
            </tr>

            <tr>
                <th>Building number:</th>
                <td th:text="${building.buildingNumber}"></td>
            </tr>
        </table>

        <h4>Localization details</h4>
        <table>
            <tr>
                <th>Distance to kindergarten (m):</th>
                <td th:text="${building.distanceToKindergarten}"></td>
            </tr>

            <tr>
                <th>Distance to school (m):</th>
                <td th:text="${building.distanceToSchool}"></td>
            </tr>

            <tr>
                <th>Distance to shopping malls (m):</th>
                <td th:text="${building.distanceToShoppingCenters}"></td>
            </tr>

            <tr>
                <th>Distance to park (m):</th>
                <td th:text="${building.distanceToPark}"></td>
            </tr>

            <tr>
                <th>Distance to river (m):</th>
                <td th:text="${building.distanceToRiver}"></td>
            </tr>

            <tr>
                <th>Time to city center (min):</th>
                <td th:text="${building.timeToCityCenterMin}"></td>
            </tr>

            <tr>
                <th>Time to bus stop (min):</th>
                <td th:text="${building.timeToBusStopMin}"></td>
            </tr>

            <tr>
                <th>Building localization details:</th>
                <td th:text="${building.buildingLocationDetails}"></td>
            </tr>
        </table>

        <h4>Building details</h4>
        <table>
            <tr>
                <th>Park lot:</th>
                <td>
                    <input type="checkbox" disabled="true"
                           th:checked="${building.isParkingAvailable}">
                </td>
            </tr>

            <tr>
                <th>Garage:</th>
                <td>
                    <input type="checkbox" disabled="true"
                           th:checked="${building.isGarageAvailable}">
                </td>
            </tr>

            <tr>
                <th>Elevator:</th>
                <td>
                    <input type="checkbox" disabled="true"
                           th:checked="${building.isElevatorAvailable}">
                </td>
            </tr>

            <tr>
                <th>Media:</th>
                <td>
                    <input type="checkbox" disabled="true"
                           th:checked="${building.isConnectedToMedia}">
                </td>
            </tr>

            <tr>
                <th>Building construction type:</th>
                <td th:text="${building.buildingConstructionType}"></td>
            </tr>

            <tr>
                <th>Additional building details:</th>
                <td th:text="${building.buildingDetails}"></td>
            </tr>
        </table>
    </div>


</body>
</html>