<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buildings list</title>
</head>
<body>
    <div>
        <h1>Building list</h1>
        <h3>
            <a th:href="@{/buildings/add}">Add new building</a>
        </h3>

        <table>
            <tr>
                <th>Id</th>
                <th>City</th>
                <th>Street</th>
                <th>Building number</th>
                <th>Building construction type</th>
                <th>Developer</th>
                <th>Primary market</th>
                <th>Number of apartments</th>
                <th>Section</th>
                <th>Realization</th>
                <th>Photos/plan</th>
                <th>Added to DB</th>
            </tr>
            <tr th:each="building : ${buildings}">
                <td th:text="${building.id}"></td>
                <td th:text="${building.city}"></td>
                <td th:text="${building.street}"></td>
                <td th:text="${building.buildingNumber}"></td>
                <td th:text="${building.buildingConstructionType}"></td>
                <td th:text="${building.developerName}"></td>
                <td>
                    <input type="checkbox" disabled="true"
                           th:checked="${building.isPrimaryMarket}">
                </td>
<!--                todo numberOfApartments display-->
                <td th:text="${building.numberOfApartments}"></td>
                <td th:text="${building.buildingSection}"></td>
                <td th:text="${building.buildingRealizationTerm}"></td>
                <td th:text="${building.photosUrl}"></td>
                <td th:text="${building.creationDate}"></td>
                <td> <button><a th:href="|edit/${building.id}|">Edit</a></button> </td>

<!--                link to details-->
                <td> <button><a th:href="|details/${building.id}|">Check details</a></button> </td>
            </tr>
        </table>

    </div>
</body>
</html>